<%- include ('header') -%>

    <form class="list" action="/createNewList" method="post">
        <input class="newItem" type="text" name="newList" placeholder="New List Title" autocomplete="off">
        <button class="createBtn">Create</button>
    </form>


    </div>
<%- include ('footer') -%>