<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>ToDo List</title>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Lists</a>
              <div class="dropdown-content">
                <a href="/">Today</a>
                <% allLists.forEach(function(list) { %>
                  <a href="/list/<%=list.name%>" > <%= list.name %>  </a>
                <% }) %>
              </div>
            </li>
            <li><a href="/createNewList">Create New List</a></li>
            <li style="float: right;" ><a href="/about">About</a></li>
            
          </ul>
    </div>
</head>
<body>